<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <link rel="stylesheet" href="../static/css/csswork.css">
    <body style="background-color:lightcoral;">
        <div class="dashboard"><h1>DASHBOARD</h1></div>
       
        <img src="../static/images/MAHESH KUMAR RESUME.jpg" width="100%" height="100%">
        <img src="../static/images/MAHESH KUMAR.jpg" width="100%" height="100%">
        
        
    </body>
</html>