<!DOCTYPE html>
<html>
    <head>
            <title>login page</title>
    </head>
    <link rel="stylesheet" type="text/css" href="../static/css/csswork.css">
    <body style="margin:0;background-image:url('../static/images/2good.png');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
      
        <div class="login">login page</div>
        <div class="loginname">Userame:&nbsp&nbsp&nbsp<input type="text" placeholder="enter your name" style="font-weight:bold;width:250px;height:25px;"></div>
        <div class="loginname">password:&nbsp&nbsp<input type="password" placeholder="enter your password" style="width:250px;height:25px;"></div>
 
   <a href="dashboard.html"><div class="button" style="text-align: center"><input type="button" value="LOGIN" style="width: 250px;height: 25px;color: black;background-color: rgb(102, 69, 223);cursor: pointer;font-weight: bold;"></div>
   </a> 
  
         <div class="account">not have an account:&nbsp&nbsp<a href="new account.html">Click here</a></div>
</body>
</html>