<!DOCTYPE html>
<html>
    <head>
        <title>new account</title>
    </head>
    <link rel="stylesheet" href="../static/css/csswork.css">
    <body style="margin:0px;background-image:url('../static/images/2good.png');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">
        <div class="login" >NEW ACCOUNT</div>
        <div class="loginname">Name:&nbsp;&nbsp;&nbsp;<input type="text" placeholder="enter your name" style="font-weight:bold;width:350px;height:30px;"></div>
        <div class="loginname">Email id:&nbsp&nbsp<input type="text" placeholder="enter your Email id" style="width:350px;height:30px;"></div>
        <div class="loginname">Address:&nbsp&nbsp&nbsp<input type="text" placeholder="enter your address" style="font-weight:bold;width:350px;height:30px;"></div>
        <div class="loginname">Phone number:&nbsp&nbsp<input type="number" placeholder="enter your mobile number" style="width:350px;height:30px;"></div>
        <div class="loginname">password:&nbsp&nbsp<input type="password" placeholder="enter your password" style="width:350px;height:30px;"></div>
        <div class="loginname">conform password:&nbsp&nbsp<input type="password" placeholder="enter your conform password" style="width:350px;height:30px;"></div>
     <a href="index.html"> <div class="button" style="text-align: center"><input type="button" value="SUBMIT" style="width: 250px;height: 25px;color: black;background-color:blue: pointer;font-weight: bold;"></div></a>
   
   <div class="account">return to:&nbsp;&nbsp;<a href="index.html">login page</a></div>
    </body>
</html>